POSTGRES_DB=backhits_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me

ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=backhits_db;Username=postgres;Password=change-me

Telegram__BotToken=change-me
Telegram__BotUsername=hits_split_bot
Telegram__InitDataMaxAgeMinutes=1440

ASPNETCORE_ENVIRONMENT=Development
Jwt__Key=change-this-secret-key-to-at-least-32-characters
